

div.center{

/* margin:10%;
padding:10%; */
border:20px groove bisque;
}
video{
 /* max-width: 80%; */
 /* height: auto; */
  border:10px solid darkorange;

  margin-left:26%;
 }
 video::cue {
  background-image: linear-gradient(to bottom, dimgray, lightgray);
  color: rgb(111, 218, 79);
}
video::cue(b) {
  color: peachpuff;
}
 