

div.center{

/* margin:10%;
padding:10%; */
border:20px groove bisque;
}
video{
 /* max-width: 80%; */
 /* height: auto; */
  border:10px solid darkorange;
  /* margin:auto; */
  margin-left:26%;
 }
 