
/* reset styles  */


ul,ol,li{
 display:block;
}
details *{
 display: none;
}
body{
 /* background-color:blue; */
}

li.subsection.accordion .details {
 display: none;
}



/*  all html css  */
.page-content-main {

}

.course-outline {

}

.block-tree {

}

.accordion {

}

.outline-item {

}

.section {

}

.section-name {

}

.accordion-trigger {

}

.fa {

}

.fa-chevron-right {

}

.fa-rotate-90 {

}

.module {

}

.module-header {

}

.section-title {

}

.accordion-panel {

}

.subsection {

}

. {

}

.subsection-text {

}

.subsection-title {

}

.details {

}

.vertical {

}

.focusable {

}

.vertical-details {

}

.vertical-title {

}

.complete-checkmark {

}

.fa-check {

}

.current {

}

.subtitle {

}

.localized-datetime {

}

.subtitle-name {

}

.sr {

}
